# Ignore node_modules
node_modules/
frontend/node_modules/

# Ignore environment variables
.env

# Ignore build files
dist/
build/

# Ignore IDE files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db